<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Add custom icons with Markers</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
<style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
</head>
<body>
<style>
.marker {
display: block;
border: none;
border-radius: 50%;
cursor: pointer;
padding: 0;
}
</style>
 
<div id="map"></div>
 
<script>
	// TO MAKE THE MAP APPEAR YOU MUST
	// ADD YOUR ACCESS TOKEN FROM
	// https://account.mapbox.com
	mapboxgl.accessToken = 'pk.eyJ1IjoiamFsb2xpZGRpbnJ1emlrdWxvdiIsImEiOiJjbGFsM2I3dnkwMWptM3Bta2RrMjFvNTU0In0.xDKGnIs0VCSy_TuFY6kXhQ';
const geojson = {
'type': 'FeatureCollection',
'features': {{features | safe }}
};

const map = new mapboxgl.Map({
container: 'map',
// Choose from Mapbox's core styles, or make your own style with Mapbox Studio
style: 'mapbox://styles/mapbox/streets-v11',
center: [{{lng}}, {{lat}}],
zoom: 10
});
 
// Add markers to the map.
for (const marker of geojson.features) {
// Create a DOM element for each marker.
const el = document.createElement('div');
const width = marker.properties.iconSize[0];
const height = marker.properties.iconSize[1];
el.className = 'marker';
el.style.backgroundImage = "url('"+marker.url+"')"; 
el.style.width = `${width}px`;
el.style.height = `${height}px`;
el.style.backgroundSize = '100%';
 
el.addEventListener('click', () => {
window.alert(marker.properties.message);
});
 //baxtli bolalikning bolajonlari
// Add markers to the map.
new mapboxgl.Marker(el)
.setLngLat(marker.geometry.coordinates)
.addTo(map);
}


    
</script>
 
</body>
</html>

{% comment %} //while (true) {
  getLocation();

//}
var coordinates;
    function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.watchPosition(showPosition);
        } else { 
            window.alert("Geolocation is not supported by this browser.");
        }
      }
          
      function showPosition(position) {
        
          coordinates= [position.coords.longitude, position.coords.latitude];
              // Create a DOM element for each marker.
    const el = document.createElement('div');
    const width = 50;
    const height = 50;
    el.className = 'marker';
    el.style.backgroundImage = "url('/static/my.png')";
    el.style.width = `${width}px`;
    el.style.height = `${height}px`;
    el.style.backgroundSize = '100%';
   
          el.addEventListener('click', () => {
            window.alert('Mendirman osha');
            });
             //baxtli bolalikning bolajonlari
            // Add markers to the map.
            new mapboxgl.Marker(el)
            .setLngLat(coordinates)
            .addTo(map);
      }
       {% endcomment %}